@mixin widthHeight($sameHW) {
    width: $sameHW;
    height: $sameHW;
  }

  @mixin transition($transition) {
    -webkit-transition: all $transition ease; 
    -o-transition: all $transition ease; 
    transition: all $transition ease; 
  } 

  